{% load static %}
<script src="{% static 'sweeper/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'sweeper/svg.min.js' %}"></script>
<script src="{% static 'sweeper/fieldbuilder.js' %}"></script>
<script>
var sweeper_jsonBoard = $.parseJSON('{{ board|escapejs }}');
var sweeper_boardWidth = {{ game.width }};
var sweeper_boardHeight = {{ game.height }};
</script>

<h1>Game #{{ game.id }}</h1>

<form action="{% url 'sweeper:new_game' %}" method="post">
{% csrf_token %}
<input type="number" label="Height" name="Height" value="10" min="1" max="200"/>
<input type="number" name="Width" value="10" min="1" max="200"/>
<input type="number" name="Mines" value="25" min="1" max="1000"/>
<input type="submit" value="New Game"/>
</form>

{% if not game.is_active %}
This game is finished.
{% endif %}

<br><div id="svgElement"></div